@import '../../styles/utils/_all.scss';

.item {
  &__wrapper {
    width: 100%;
    padding: 2rem 3rem;
    border-radius: 1rem;
    margin: 1rem;
    border: $border;
    color: $text-color;
    background-color: $text-field-color;
    display: flex;
    flex-direction: column;

    @include md {
      width: 30%;
    }

    &:hover {
      background-color: $primary-color;
      color: $secondary-color;
      cursor: pointer;
      transition: $transition;

      .item__image {
        .icon {
          fill: $secondary-color;
          transition: $transition;
        }
      }
    }
  }

  &__image {
    align-self: flex-end;

    &:hover {
      cursor: pointer;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &__languages {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &__target-text {
    opacity: 0.5;
  }
}

.icon {
  fill: $text-color;

  width: 2rem;
  height: 2rem;

  @include md {
    width: 1.5rem;
    height: 1.5rem;
  }
}
