@import '../../styles/utils/_all.scss';

.item {
  &__wrapper {
    width: 100%;
    padding: 2rem 3rem;
    border-radius: 1rem;
    margin: 1rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;

    @include md {
      width: 30%;
    }

    &:hover {
      background-color: $light-gray;
    }
  }

  &__image {
    align-self: flex-end;

    &:hover {
      cursor: pointer;
    }
  }

  &__content {
    color: $text-color;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &__languages {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &__target-text {
    color: gray;
  }
}
