@import '../../styles/utils/_all.scss';

.page__wrapper {
  width: 100%;

  @include md {
    max-width: 80rem;
    padding: 0 3rem;
  }

  .textarea__wrapper {
    display: flex;
    flex-direction: column;

    @include md {
      flex-direction: row;
      box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);

      @include border-bottom-radius(1rem);
    }

    & > * {
      flex: 1;
    }
  }

  .select__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border: 1px solid $border-color;
    border-bottom: none;
    padding: 0 0.5rem;
    background-color: $text-field-color;

    @include md {
      @include border-top-radius(1rem);
    }

    &:hover {
      cursor: pointer;
    }

    & > *:nth-child(2) {
      padding: 0 1rem;
    }

    .select__control {
      height: 3rem;
      flex: 1;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.disabled {
  opacity: 0.5;
}

.exchange__icon {
  fill: $text-field-color;
  stroke: $text-color;
}

.control__icons {
  fill: $primary-color;
  width: 2rem;
  height: 2rem;

  @include md {
    width: 1.5rem;
    height: 1.5rem;
  }
}
