@import 'src/styles/utils/all';

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $error-color;
  border-radius: 1rem;
  color: $black;

  &.active {
    height: 5rem;
  }
}
