@import '../../styles/utils/_all.scss';

.select__control {
  height: 3rem;
  flex-grow: 0;
  width: 100%;
  border: none;
  background-color: $text-field-color;
  color: $text-color;

  @include md {
    @include border-top-radius(1rem);
    flex-grow: 1;
  }

  &:hover {
    cursor: pointer;
  }
}
