$primary-color: var(--primary-color);
$background-color: var(--background-color);
$text-color: var(--text-color);
$border-color: var(--border-color);
$secondary-color: var(--secondary-color);
$text-field-color: var(--text-field-color);
$white: #fff;
$light-gray: #fafafa;

.light {
  --primary-color: #6369d1;
  --secondary-color: #a4eeee;
  --background-color: #dbdae0;
  --text-color: #34435e;
  --border-color: #b88e8d;
  --text-field-color: #dfe6e9;
}

.dark {
  --primary-color: #9ece9a;
  --secondary-color: #9dcba7;
  --background-color: #282c3b;
  --text-color: #fab1a0;
  --border-color: #077187;
  --text-field-color: #2d3436;
}

$border: 1px solid $border-color;

@mixin border-bottom-radius($radius) {
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin border-top-radius($radius) {
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}
